.cursor-pointer {
  cursor: pointer;
}
.form-auth {
    height: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 30rem;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
}

.form-auth-icon {
    font-size: 5rem;
    color: darkslategray;
}
  
.form-auth .checkbox {
    font-weight: 400;
}
  
.form-auth .form-floating:focus-within {
    z-index: 2;
}

.form-auth input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-auth input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-request {
  height: 100%;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 50rem;
  padding: 1.5rem;
  margin: auto;
  text-align: center;
}

.admin-info-icon {
  font-size: 1rem;
  color: #0d6efd;
}
.location-icon {
  font-size: 1.2rem;
  color: black;
}
.form-request-icon {
  font-size: 5rem;
  color: darkslategray;
}
.access-icon {
  font-size: 2rem;
}
.access-icon-approved {
  color: #198754;
}
.access-icon-pending {
  color: #0d6efd;
}
.access-icon-decline {
  color: #dc3545;
}

.form-request .checkbox {
  font-weight: 400;
}

.form-request .form-floating:focus-within {
  z-index: 2;
}

.form-request input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-request input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.backdropb {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100 ;
    left: 0;
    top: 0;
}

.modalb {
  position: fixed;
  z-index: 500;
  width: 100%;
  max-width: 50rem;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 3px black;
  padding: 1.5rem;
  /* left: 50%; */
  /* top:50%; */
  transition: all .5s ease-out;
  margin: 1rem;
  border-radius: 3px;
}
.navigation {
    text-align: center;
}

.navigation-list {
  display: inline-block;
}

.range input[type=range] {
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
}

.range input[type=range]:focus {
  outline: none;
}

.range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(255, 165, 0, 0.7), rgba(255, 0, 0, 0.7));
  border-radius: 1.3px;
  border: 0.2px solid #010101; 
}

.range input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 3rem;
  width: 1rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1rem; 
}

.range input[type=range]:hover {
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.1), rgba(255, 165, 0, 0.1), rgba(255, 0, 0, 0.1)); 
}
.fixed-table {
  table-layout:fixed
}


.loader {
    color: rgba(0,170,188,255);
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 35%;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 9999;
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
.map-container {
  font-size: 1rem;
  margin: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 4px;
  grid-template-columns: 
    [c1] auto [c2] auto [c3] auto [c4] auto [c5] auto [c6] auto [c7] auto [c8] auto [c9] auto [c10] auto;
  grid-template-rows: 
    [r1] auto [r2] auto [r3] auto [r4] auto [r5] auto [r6] auto [r7] auto [r8] auto [r9] auto [r10] auto
    [r11] auto [r12] auto [r13] auto [r14] auto [r15] auto [r16] auto [r17] auto [r18] auto [r19] auto [r20] auto
    [r21] auto [r22] auto [r23] auto [r24] auto [r25] auto [r26] auto [r27] auto [r28] auto [r29] auto [r30] auto
    [r31] auto [r32] auto [r33] auto [r34] auto [r35] auto [r36] auto [r37] auto [r38] auto [r39] auto [r40] auto
    [r41] auto;
}

.map-item_name {
  display: block;
}

.map-item_code {
  display: none;
}

.location-shadow {
  -webkit-box-shadow: 0 0 1.5rem #5c5220;
  box-shadow: 0 0 1.5rem #5c5220;
}

/* @media (max-width: 1024px) {

  .map-container {
    font-size: 0.7rem;
    gap: 2px;
  }

  .map-item_name {
    display: block;
  }
  
  .map-item_code {
    display: none;
  }
} */

/* @media (max-width: 768px) {

  .map-container {
    font-size: 0.5rem;
    gap: 2px;
  }

  .map-item_name {
    display: block;
  }
  
  .map-item_code {
    display: none;
  }
} */

/* @media (max-width: 600px) {

  .map-container {
    font-size: 0.7rem;
    gap: 2px;
  }

  .map-item_name {
    display: none;
  }
  
  .map-item_code {
    display: block;
  }
} */

.map-container {
  font-size: 0.7rem;
  gap: 2px;
}

.map-item_name {
  display: none;
}

.map-item_code {
  display: block;
}

.map-item_rtc {
  grid-column: c10;
  grid-row: r1;
}
.map-item_roc {
  grid-column: c10;
  grid-row: r2;
}
.map-item_neb {
  grid-column: c10;
  grid-row: r3;
}
.map-item_kin {
  grid-column: c10;
  grid-row: r4;
}
.map-item_mil {
  grid-column: c10;
  grid-row: r5;
}
.map-item_neh {
  grid-column: c10;
  grid-row: r6;
}
.map-item_shc {
  grid-column: c10;
  grid-row: r7;
}
.map-item_der {
  grid-column: c10;
  grid-row: r8;
}
.map-item_ohm {
  grid-column: c10;
  grid-row: r9;
}
.map-item_bry {
  grid-column: c7;
  grid-row: r10;
}
.map-item_ohc {
  grid-column: c10;
  grid-row: r10;
}
.map-item_ecc {
  grid-column: c3;
  grid-row: r11;
}
.map-item_rad {
  grid-column: c7;
  grid-row: r11;
}
.map-item_ohk {
  grid-column: c10;
  grid-row: r11;
}
.map-item_ldw {
  grid-column: c3;
  grid-row: r12;
}
.map-item_wfd {
  grid-column: c7;
  grid-row: r12;
}
.map-item_wwd {
  grid-column: c10;
  grid-row: r12;
}
.map-item_wst {
  grid-column: c3;
  grid-row: r13;
}
.map-item_bob {
  grid-column: c7;
  grid-row: r13;
}
.map-item_fre {
  grid-column: c10;
  grid-row: r13;
}
.map-item_lgw {
  grid-column: c3;
  grid-row: r14;
}
.map-item_prs {
  grid-column: c7;
  grid-row: r14;
}
.map-item_soc {
  grid-column: c10;
  grid-row: r14;
}
.map-item_trc {
  grid-column: c1;
  grid-row: r15;
}
.map-item_bdw {
  grid-column: c3;
  grid-row: r15;
}
.map-item_hpk {
  grid-column: c7;
  grid-row: r15;
}
.map-item_hol {
  grid-column: c10;
  grid-row: r15;
}
.map-item_evc {
  grid-column: c1;
  grid-row: r16;
}
.map-item_mec {
  grid-column: c3;
  grid-row: r16;
}
.map-item_bkv {
  grid-column: c7;
  grid-row: r16;
}
.map-item_fal {
  grid-column: c10;
  grid-row: r16;
}
.map-item_par {
  grid-column: c1;
  grid-row: r17;
}
.map-item_hbc {
  grid-column: c3;
  grid-row: r17;
}
.map-item_crp {
  grid-column: c7;
  grid-row: r17;
}
.map-item_nhm {
  grid-column: c10;
  grid-row: r17;
}
.map-item_vlg {
  grid-column: c1;
  grid-row: r18;
}
.map-item_anc {
  grid-column: c3;
  grid-row: r18;
}
.map-item_abm {
  grid-column: c7;
  grid-row: r18;
}
.map-item_qrd {
  grid-column: c8;
  grid-row: r18;
}
.map-item_cep {
  grid-column: c10;
  grid-row: r18;
}
.map-item_iwm {
  grid-column: c1;
  grid-row: r19;
}
.map-item_sfq {
  grid-column: c3;
  grid-row: r19;
}
.map-item_qns {
  grid-column: c7;
  grid-row: r19;
}
.map-item_mon {
  grid-column: c9;
  grid-row: r19;
}
.map-item_wsd {
  grid-column: c1;
  grid-row: r20;
}
.map-item_exq {
  grid-column: c3;
  grid-row: r20;
}
.map-item_exs {
  grid-column: c5;
  grid-row: r20;
}
.map-item_vic {
  grid-column: c8;
  grid-row: r20;
}
.map-item_pom {
  grid-column: c2;
  grid-row: r21;
}
.map-item_shl {
  grid-column: c7;
  grid-row: r21;
}

.map-item_cnk {
  grid-column: c3;
  grid-row: r22;
}
.map-item_dcf {
  grid-column: c4;
  grid-row: r22;
}
.map-item_sps {
  grid-column: c5;
  grid-row: r22;
}
.map-item_mkt {
  grid-column: c6;
  grid-row: r22;
}
.map-item_tfb {
  grid-column: c2;
  grid-row: r23;
}
.map-item_pcg {
  grid-column: c6;
  grid-row: r23;
}

.map-item_old {
  grid-column: c1;
  grid-row: r24;
}
.map-item_tfd {
  grid-column: c2;
  grid-row: r24;
}
.map-item_fir {
  grid-column: c3;
  grid-row: r24;
}
.map-item_pic {
  grid-column: c7;
  grid-row: r24;
}

.map-item_str {
  grid-column: c1;
  grid-row: r25;
}
.map-item_cho {
  grid-column: c3;
  grid-row: r25;
}
.map-item_nis {
  grid-column: c7;
  grid-row: r25;
}

.map-item_dan {
  grid-column: c1;
  grid-row: r26;
}
.map-item_swr {
  grid-column: c4;
  grid-row: r26;
}
.map-item_hot {
  grid-column: c7;
  grid-row: r26;
}

.map-item_sal {
  grid-column: c1;
  grid-row: r27;
}
.map-item_wth {
  grid-column: c3;
  grid-row: r27;
}
.map-item_bmr {
  grid-column: c5;
  grid-row: r27;
}
.map-item_spc {
  grid-column: c7;
  grid-row: r27;
}

.map-item_brk {
  grid-column: c1;
  grid-row: r28;
}
.map-item_brt {
  grid-column: c3;
  grid-row: r28;
}
.map-item_swp {
  grid-column: c5;
  grid-row: r28;
}
.map-item_vel {
  grid-column: c7;
  grid-row: r28;
}

.map-item_tmp {
  grid-column: c1;
  grid-row: r29;
}
.map-item_wdd {
  grid-column: c3;
  grid-row: r29;
}
.map-item_nmr {
  grid-column: c5;
  grid-row: r29;
}
.map-item_cla {
  grid-column: c7;
  grid-row: r29;
}

.map-item_nav {
  grid-column: c1;
  grid-row: r30;
}
.map-item_ddv {
  grid-column: c3;
  grid-row: r30;
}
.map-item_wpk {
  grid-column: c5;
  grid-row: r30;
}
.map-item_edl {
  grid-column: c7;
  grid-row: r30;
}

.map-item_alt {
  grid-column: c1;
  grid-row: r31;
}
.map-item_edd {
  grid-column: c3;
  grid-row: r31;
}
.map-item_mrd {
  grid-column: c5;
  grid-row: r31;
}
.map-item_cer {
  grid-column: c7;
  grid-row: r31;
}

.map-item_bag {
  grid-column: c5;
  grid-row: r32;
}
.map-item_dyl {
  grid-column: c7;
  grid-row: r32;
}

.map-item_rth {
  grid-column: c5;
  grid-row: r33;
}
.map-item_aud {
  grid-column: c7;
  grid-row: r33;
} 

.map-item_mar {
  grid-column: c5;
  grid-row: r34;
}
.map-item_asm {
  grid-column: c7;
  grid-row: r34;
}

.map-item_bch {
  grid-column: c5;
  grid-row: r35;
}
.map-item_asw {
  grid-column: c7;
  grid-row: r35;
}

.map-item_cro {
  grid-column: c5;
  grid-row: r36;
}
.map-item_ash {
  grid-column: c7;
  grid-row: r36;
}

.map-item_wyc {
  grid-column: c5;
  grid-row: r37;
}

.map-item_rbn {
  grid-column: c5;
  grid-row: r38;
}

.map-item_plh {
  grid-column: c5;
  grid-row: r39;
}

.map-item_shd {
  grid-column: c5;
  grid-row: r40;
}

.map-item_air {
  grid-column: c5;
  grid-row: r41;
}